@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Poppins';
}

.underline-animation:hover::after {
  width: 100%;
}

.underline-animation::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: black;
  transition: width .3s;
}


/* Mobile menu button styles */
.mobile-menu-button {
  display: none;
  /* Your button styling here */
}

/* Styles for menu items */
.menu {
  transition: transform 0.3s ease-in-out;
}

/* Mobile styles */
@media (max-width: 768px) {
  .mobile-menu-button {
    display: block;
  }

  .menu {
    transform: translateY(-100%);
  }

  .menu.open {
    transform: translateY(0);
  }

  /* Adjust menu and other element styles for mobile */
}